<div dir="rtl" class="jumbotron" id="about_page">
	<article class="content-holder container">
		<h4>
			<p>What are your chances? זו מערכת BI שמטרתה היא חיזוי הישגיו של מועמד לתואר ראשון במכללה האקדמית תל-אביב יפו. </br>
			המערכת מאפשרת מענה על מספר שאלות עיקריות המסקרנות מועמד להרשמה למכללה וכן מסקנות את המכללה עצמה בהקשר לאותו מועמד. </br>
			זאת ע"י שימוש בממשק אינטרנט פשוט בו מזינים את נתוני הבסיס של המועמד וכן את הבית ספר בו יהיה מעוניין ללמוד ובלחיצת כפתור מקבלים תוצאות המתבססות על ניתוח סטטיסטי של נתונים על הסטודנטים במכללה מ-10 השנים האחרונות. </p> 
			<p>
			<ul class="center-ul">השאלות העיקריות להן ניתן מענה:
				<li>מה סיכוייו של המועמד לסיים את התואר הראשון בבית הספר בו בחר? </li>
				<li>באיזה ציון יסיים המועמד את התואר הראשון בבית הספר בו בחר? </li>
				<li>מה סיכוייו של המועמד להמשיך לתארים מתקדמים יותר בסיומו את התואר? </li>
				<li>מה סיכוייו של המועמד לעבוד במקצוע המשתייך לתואר שלו בסיום לימודיו ? </li> 
			</ul>
			</p>
			<p>
			בנוסף לכך, האתר מאפשר לצפות ב-dashboard (לוח מכוונים) כללי על נתוני הסטודנטים (לשעבר) במכללה
			</br>ועל הקשר בין הישגיהם לבין נתוניהם ההתחלתיים. </br>
			אנו מאמינים שמערכת זו היא בסיס טוב לכניסה לעולם ניתוח נתוני קבלה וסיום וקבלת החלטות מושכלות ע"י המכללה בהתאם למה שיראו הנתונים. </br>
			בעולם בו יש כ"כ הרבה מידע והוא נגיש באמצעות הטכנולוגיה המתקדמת, ניתן להצליח יותר אם מנצלים מידע זה לטובת העסק. 
			</p>
		</h4>
	</article>
</div>