<html>
<head>
	<title></title>
</head>
<body>
	
	<div class="jumbotron masthead">
	  <div class="container">
	    <h1>WHAT ARE YOUR CHANCES?</h1>
	    <p>הדרך הטובה ביותר לדעת מה הסיכויים שלך לסיים, להצליח, להתקדם... </br>
	    	אל תפחד לבדוק את העתיד!</p>
	  </div>
	</div>
	
</body>
</html>