<div dir="rtl" class="jumbotron" id="index_page">
  	
	<div class="content-holder container">
		
		<div class="row-fluid">
			<div id="grades_range_chart" class="span6 graph"></div>
			<div id="graduates_by_year_chart" class="span6 graph"></div>
		</div>

		<br><br><br> 

		<div class="row-fluid">
			<div id="grades_dots_chart" class="span12 graph"></div>
		</div>

		<br><br><br> 
		
		<div class="row-fluid">
			<div id="job_level_chart" class="span6 graph"></div>
			<div id="grades_by_school_chart" class="span6 graph"></div>
		</div>

		<br><br><br> 

		<div class="row-fluid">
			<div id="grades_by_range_and_by_school_chart" class="span6 graph"></div>
			<div id="some_chart" class="span6 graph"></div>
		</div>
	
	</div>
</div>
