<%= form_for(@nominee) do |f| %>

  <% if @nominee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nominee.errors.count, "error") %> שגיאה ביצירת מועמד.</h2>

      <ul>
      <% @nominee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  
<% end %>
