<div class="jumbotron nominee_page">  	
	<div class="content-holder container">
		
		<div class="row-fluid">
			<div id="prediction_chart_linear" class="span10 nominee_section_span"></div>
			
			<div class="span2">
				<% @nominee_predictions.each do |p| %>
					<div class="row-fluid thumbnail nominee_result_box">
						<h4> <%= p[0] %> </h4>
						<h3> <b> <%= p[1] %> </b> </h3>

						<div> מקדם המתאם: <%= p[2] %> </div>
					</div>
					<br><br>
				<% end %>
			</div>

		</div>

	</div>
</div>