<div dir="ltr" class="jumbotron nominee_page">
  	
	<div class="content-holder container">
		
		<div class="row-fluid">
			<div class="span8 nominee_section_span">
				span8
			</div>
			<div class="span4 nominee_section_span">
				<table>
					<tr>
						<td>
						</td>
					</tr>
				</table>
				
			</div>
		</div>

	</div>
</div>