<!DOCTYPE html>
<html>

	<head>
	  <title>Import excel (xlsx) files</title>
	</head>

	<body>

		<!-- Show all friends  -->
		<table class='excels_table'> 

			<thead>
				<tr>
						<th> Filename </th>
						<th> </th>
				</tr>
			</thead>
			
			<tbody>
				<% @excels.each_with_index do |(filename, excel), index| %>
						<tr>
							<td> <%= File.basename(filename) %> </td>
							<td> <%= link_to "Show", "excel/#{index}" %> </td
							
						</tr>
				<% end %>
			</tbody>

		</table>

	</body>
</html>
