<!DOCTYPE html>
<html dir="RTL">

	<head>
	  <title>Import excel (xlsx) files</title>
	  Listing excel files
	</head>

	<body>
		Hi

		<h1> Hello </h1>
	
		<div class=sum>
		<br>
		</div>
		<br>

		<!-- Show all friends  -->
		<table> 

			@imported_files

			<!-- construct table head -->
			<thead>
				<tr>
					<% 1.upto(@excel.last_column) do |j| %>
						<th> <%= @excel.cell(1,j) %> </th>
					<% end %>
				</tr>
			</thead>
			
			<tbody>
				<!-- generate rows -->
				<% 2.upto(@excel.last_row) do |i| %>
					<tr>
						<!-- generate cells -->
						<% 1.upto(@excel.last_column) do |j| %>
							<td> <%= @excel.cell(i,j) %> </td>
						<% end %>
					</tr>
				<% end %>
			</tbody>
		</table>
	</body>
</html>
