<!DOCTYPE html>
<html>

	<head>
	</head>

	<body>
		<h1> Showing records for file: <%= @excel_filename %> </h1>
		<br>

		<h3> <%= link_to 'Back', '/excel' %> </h3>

		<br>

		<!-- Show all friends  -->
		<table class="students_table"> 

			<!-- construct table head -->
			<thead>
				<tr>
					<% 1.upto(@excel.last_column) do |j| %>
						<% unless ((j > 5)  && (j < 11)) %>
							<th> <%= @excel.cell(1,j) %> </th>
						<% end %>		
					<% end %>
				</tr>
			</thead>
			
			<tbody>
				<% 2.upto(@excel.last_row) do |i| %>
					<tr>
						<% 1.upto(@excel.last_column) do |j| %>
							<% unless ((j > 5)  && (j < 11)) %>
								<td> <%= @excel.cell(i,j) %> </td>
							<% end %>
						<% end %>
					</tr>
				<% end %>
			</tbody>
			
		</table>
	</body>
</html>
