/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree
 */
@import "bootstrap/bootstrap.css.scss";
@import "bootstrap/bootstrap-responsive.css.scss";
@import "bootstrap/docs.css.scss";


.navbar .nav .current a
{
	color: #fff;
}

body {
	text-align: right;
}


.navbar .brand img {
	height: 25px;
	margin: 0 10px;
}

.rtl
{
	direction: rtl;
	text-align: right;
}

.navbar-inner
{
	border: none;
	padding-right: 0;
  	padding-left: 0;
}

.navbar .nav > li > a
{
	padding: 10px 25px 10px;
}

.nav-collapse .nav > li > a:hover
{
	text-shadow: #FFFFFF 0 0 10px;
}

section 
{
    padding-top: 0;
}

#main_container
{
	height: 100%;
}

.content-holder
{
	padding: 30px 10px;
	direction: rtl;
	margin: 0 20px;
	width: auto;
}

body
{
	height: 100%;
}

html
{
	height: 100%;
}

// section
// {
// 	height: 100%;
// }

div#main-container
{
	height: 100% !important;
}

.jumbotron
{
	height: 100%;
	min-height: 700px;
}