// Place all the styles related to the nominees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.nominee_page {
	  background: -moz-linear-gradient(45deg,  #020031 0%, #399200 100%); /* FF3.6+ */
	  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#020031), color-stop(100%,#399200)); /* Chrome,Safari4+ */
	  background: -webkit-linear-gradient(45deg,  #020031 0%,#399200 100%); /* Chrome10+,Safari5.1+ */
	  background: -o-linear-gradient(45deg,  #020031 0%,#399200 100%); /* Opera 11.10+ */
	  background: -ms-linear-gradient(45deg,  #020031 0%,#399200 100%); /* IE10+ */
	  background: linear-gradient(45deg,  #020031 0%,#399200 100%); /* W3C */
}

.nominee_section {
	margin-left: auto;
	margin-right: auto;
	width: 900px;
	text-align: right;
}

.nominee_form {
	border-width: 2px;
	border-color: #FFFFFF;
	border-style: solid;
	border-radius: 10px;
	box-shadow:0 0 10px #FFFFFF;
	text-align: right;
	// display: inline-block;
}

.nominee_form_error {
	display: inline-block;
	float: left;
	text-align: right;
}

.nominee_form_submit {
	text-align: center;
}

header, .nominee_form table, .nominee_form .actions
{
	width: 100%;
}

.nominee_section_span {
	border: 4px;
	border-color: black;
	border-style: solid;

}

.table-bordered {
	margin: 0 auto;
	width: 550px;
}